footer {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    margin-bottom: 16px;
}

.links {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .links {
        justify-content: space-between;
        padding-block: 16px;
    }
}