main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 100%;
    max-width: 286px;
    height: auto;
    object-fit: cover;

}

main img:hover {
    border: 3px solid var(--brand-color);

}

@media (max-width: 768px) {

    main {
        flex-direction: column;
        gap: 16px;
    }

    main img {
        max-width: 100%;
        width: auto;
    }
}